<div class="row containerGrid">
    <div class="col-md-5 col-sm-12  containerImage">
        <img src="./assets/images/mision.png" class="img-fluid" height="400">
    </div>
    <div class="col-md-7 col-sm-12 containerText">
        <div class="row">
            <div class="col-6 textTitle">MISIÓN</div>
            <div class="col-6 subLine"></div>
        </div>
        <p class="subText text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellendus
            facilis ea
            incidunt dignissimos
            autem quia laborum voluptas atque at vel provident assumenda omnis nostrum tempore excepturi, blanditiis,
            iste et?Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellendus facilis ea
            incidunt dignissimos
            autem quia laborum voluptas atque at vel provident assumenda omnis nostrum tempore excepturi, blanditiis,
            iste et?</p>
    </div>

</div>