<div class="containerOperation">
    <!-- <img src="../../../assets/images/OPERACIONES.svg" class="container_image"> -->
    <img src="./assets/images/OPERACIONES.svg" class="container_image">
    <div class="containerOperations">
        <h1 class="containerOperations_title">PRINCIPALES OPERACIONES</h1>
        <div class="containerOperations_operations">
            <app-card-operation></app-card-operation>
            <app-card-operation></app-card-operation>
            <app-card-operation></app-card-operation>
        </div>
        <div class="containerOperations_containerButton">
            <button class="containerButton_buttonUnderline">VER SERVICIOS</button>
            <button class="containerButton_button">VER COBERTURA</button>
        </div>
    </div>
</div>