<footer>
    <div class="menuFooter">
        <div class=" col-sm-12  col-md-3 containerMenuOne">
            <!-- <img src="../../../assets/images/logoblack.svg"
                style="text-align: center; margin-top: -40px;margin-bottom: 10px;"> -->
            <img src="./assets/images/logoblack.svg"
                style="text-align: center; margin-top: -40px;margin-bottom: 10px;mix-blend-mode: multiply;">
            <div style="display: flex;align-items: flex-start;">
                <!-- <img src="../../../assets/images/enviar.svg"> -->
                <img src="./assets/images/enviar.svg">
                <p class="textMenuOne">Av. El Bosque Norte 500, Piso 18, Las Condes, RM.</p>
            </div>
            <div style="display: flex;align-items: flex-start;">
                <!-- <img src="../../../assets/images/enviar.svg"> -->
                <img src="./assets/images/enviar.svg">
                <p class="textMenuOne">+562 2630 1800</p>
            </div>
            <div style="display: flex;align-items: flex-start;">
                <!-- <img src="../../../assets/images/enviar.svg"> -->
                <img src="./assets/images/enviar.svg">
                <p class="textMenuOne">contacto@lanchasbucalemu.cl</p>
            </div>

        </div>
        <div class="col-sm-12  col-md-3 containerMenuOne">
            <h4 class="titleMenu">Nuestros Servicios</h4>
            <ul>
                <li class="optionMenu">Faenas Regulares</li>
                <li class="optionMenu">Faenas Carmo IMO</li>
                <li class="optionMenu">Faenas Mantención
                    de Terminales.</li>
                <li class="optionMenu">Faenas de Emergencia</li>

            </ul>
        </div>
        <div class="col-sm-12  col-md-3 containerMenuOne">
            <h4 class="titleMenu">Menu Principal</h4>
            <ul>
                <li class="optionMenu">Quiénes somos</li>
                <li class="optionMenu">Cobertura</li>
                <li class="optionMenu">Sustentabilidad</li>
                <li class="optionMenu">Noticias</li>

            </ul>
        </div>
        <div class="col-sm-12  col-md-3 containerMenuOne">
            <h4 class="titleMenu">Sobre Nosotros</h4>
            <ul>
                <li class="optionMenu">Misión</li>
                <li class="optionMenu">Visión</li>
                <li class="optionMenu">Trabaja con Nosotros</li>
                <li class="optionMenu">Contacto</li>

            </ul>
        </div>

    </div>
    <div class="terms">
        <p>​© Todos los derechos reservados 2021. Bucalemu.</p>
        <div class="kull">
            <p>Una web</p>
            <!-- <img src="../../../assets/images/kull.svg" class="logoKull"> -->
            <img src="./assets/images/kull.svg" class="logoKull">
        </div>
    </div>
</footer>