<header class="headerContainer">
    <nav class="navbar navbar-expand-xl navbar-light fixed-top bgcolor">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logoHeader.svg" class="logoOne" />
            <img src="./assets/images/logomid.svg" class="logoTwo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img class="menuMobil"src="../../../assets/images/menu mobile.png">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav text-center efecto">
                    <a class="nav-item nav-link text-white py-3 link1" href="#">Inicio</a>
                    <a class="nav-item nav-link text-white  py-3" (click)="goAbout()">Quienes somos</a>
                    <a class="nav-item nav-link text-white  py-3" (click)="goServices()">Servicios</a>
                    <a class="nav-item nav-link text-white  py-3" (click)="goCoverage()">Cobertura</a>
                    <a class="nav-item nav-link text-white  py-3">Sustentabilidad</a>
                    <a class="nav-item nav-link text-white py-3" href="#">Contacto</a>
                    <a class="nav-item nav-link text-white py-3" href="#">Noticias</a>
                </div>
                <div class="navbar-nav pt-3 options_lang">

                    <button class="btnSharePoint">Sharepoint</button>
                    <button class="btnDenuncias mt-4">
                        Portal Denuncias <img src="./assets/images/denuncias.svg" />
                    </button>

                    <button class="btnSaltus mt-4">
                        <img src="./assets/images/saltus.svg" />
                    </button>

                    <select class="selectLanguage mt-4">
                        <option class="optionLanguage">Español</option>
                        <option class="optionLanguage">Ingles</option>
                    </select>

                </div>
        </div>
    </nav>
    <br />
</header>