<header class="headerContainer">
    <!-- <div class="options_lang">
        <button class="btnDenuncias">Portal Denuncias <img src="./assets/images/denuncias.svg"></button>
        <button class="btnSaltus"><img src="./assets/images/saltus.svg"></button>
        <select class="selectLanguage">
            <option class="optionLanguage">Español</option>
            <option class="optionLanguage">Ingles</option>
        </select>
    </div> -->
    <nav class="headerContainer_nav">
        <div class="nav_logo">

            <img src="./assets/images/logoHeader.svg" class="logoOne">
            <img src="./assets/images/logomid.svg" class="logoTwo">
        </div>
        <div class="nav_options">
            <div class="options_lang">

                <button class="btnDenuncias">Portal Denuncias <img src="./assets/images/denuncias.svg"></button>

                <button class="btnSaltus"><img src="./assets/images/saltus.svg"></button>
                <select class="selectLanguage">
                    <option class="optionLanguage">Español</option>
                    <option class="optionLanguage">Ingles</option>
                </select>
            </div>
            <div class="options_routes">
                <h4 class="inicio" (click)="goHome()">Inicio</h4>
                <h4 (click)="goAbout()">Quienes somos</h4>
                <h4 (click)="goServices()">Servicios</h4>
                <h4 (click)="goCoverage()">Cobertura</h4>
                <h4>Sustentabilidad</h4>
                <h4>Contacto</h4>
                <h4>Noticias</h4>

            </div>
        </div>
    </nav>

    <!-- <nav class="navbar navbar-expand-lg " style="padding: 0px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./assets/images/logomid.svg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">XD</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item itemLink">
                        Inicio
                    </li>
                    <li class="nav-item itemLink">
                        Quienes somos
                    </li>
                    <li class="nav-item itemLink">
                        Servicios
                    </li>
                    <li class="nav-item itemLink">
                        Servicios
                    </li>
                    <li class="nav-item itemLink">
                        Servicios
                    </li>
                    <li class="nav-item itemLink">
                        Servicios
                    </li>
                    <li class="nav-item itemLink">
                        Servicios
                    </li>
                </ul>

            </div>
        </div>
    </nav> -->

</header>