<div class="containerService">
    <!-- <img src="../../../assets/images/SERVICIOS.svg" class="container_Image"> -->
    <img src="./assets/images/SERVICIOS.svg" class="container_Image">
    <div class="containerServices">
        <h1 class="containerServices_title">{{"NUESTROS SERVICIOS"| translate}}</h1>
        <div class="containerServices_services">
            <app-card-service></app-card-service>
            <app-card-service></app-card-service>
            <app-card-service></app-card-service>
            <app-card-service></app-card-service>
        </div>
        <div class="containerServices_containerButton">
            <button class="containerButton_button">VER SERVICIOS</button>
        </div>
    </div>

</div>