.contentBanner {
  position: relative;
  height: 200px;
}
.textBanner {
  text-align: center;
  margin-top: -130px;
  color: white;
  font-weight: 900;
}


@media (max-width: 500px) {
  .textBanner {
    font-size: 24px;
  }
}
