<div class="containerEnterprises">
    <img>
    <h1 class="containerEnterprises_title">EMPRESAS RELACIONADAS</h1>
    <div class="containerEnterprises_enterprises">
        <div class="enterprises_card">
            <!-- <img src="../../../assets/images/ultramar.svg" class="card_image">  -->
            <img src="./assets/images/ultramar.svg" class="card_image">

            <p style="font-size: 14px;">Ultramar Agencia Marítima.</p>
        </div>
        <div class="enterprises_card">
            <!-- <img src="../../../assets/images/ultramar.svg" class="card_image">  -->
            <img src="./assets/images/ultramar.svg" class="card_image">
            <p style="font-size: 14px;">Ultramar Agencia Marítima.</p>
        </div>
    </div>
</div>