<div class="contentBanner">
    <img src="./assets/images/bannerWork.png" class="image">
    <div class="containerRow row">
        <div class="col-lg-6 col-md-12 col-sm-12 ">
            <p class="textTitle">TRABAJA CON NOSOTROS</p>
            <div class="line"></div>

            <p class="textContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, justo ut
                interdum mattis, arcu
                leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat velit.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 containerButton">
            <button class="btnIngreso">INGRESA AQUI</button>
        </div>
    </div>
</div>