<div class="containerGeneral">
    <div class="row containerCard">
        <div class="col-lg-4 col-md-6 col-xs-12 containerGrid one">
            <p class="title">FAENAS</p>
            <p class="titlePrimary">REGULARES</p>
            <div class="line"></div>
            <img src="./assets/images/photoService.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 containerGrid three">
            <img src="./assets/images/photoService.png" class="img-fluid">

        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 containerGrid two">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, justo ut
                interdum mattis, arcu
                leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat velit. Vestibulum tincidunt libero
                et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget quam faucibus odio tincidunt congue.
                Aenean eget sodales massa, eu egestas magna. Ut et risus ut magna accumsan ullamcorper et vitae velit.
                Nam id nisl fermentum, vulputate sem sed, scelerisque elit. Nulla congue felis turpis, ut malesuada
                nulla scelerisque sed. Maecenas pharetra nunc et condimentum congue. Etiam euismod mattis nulla, vel
                vestibulum sem maximus id.</p>
            <p>Descargar : <img src="./assets/images/PDF.png"></p>
        </div>
    </div>
</div>