.containerGeneral {
  color: #54595f;
}
.containerCard {
  max-width: 1240px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* height: 600px; */
}
.containerGrid {
  height: 200px;
}
.one {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.two {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.three {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
P {
  font-size: 14px;
}
.title {
  font-size: 28px;
  padding: 0px;
  margin: 0px;
  font-weight: 800;
}
.titlePrimary {
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  font-weight: 800;
}
.line {
  width: 150px;
  height: 4px;
  background: #6f8ee7;
  margin: 15px 0px;
}

@media (max-width: 500px) {
  .one {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .two {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .three {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
