<div class="containerGeneral">
    <div class="containerMap">
        <div class="row ">
            <div class="col-md-6 col-sm-12">
                <p class="textTitle">NUESTRO COBERTURA</p>
                <p class="subline"></p>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <p class="textSubtitle text-justify parrafo">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Minus
                    atque
                    deserunt quos
                    consectetur accusamus
                    nihil, tempora voluptatum, dolore rem obcaecati recusandae dolorum nobis illo deleniti nostrum,
                    culpa
                    architecto placeat alias!</p>
            </div>
        </div>
        <div class="text-center my-5 containerMapPoints">
            <img src="/assets/images/map.png">
            <button class="btnMap" type="button" data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="left" data-bs-content="Left popover"></button>
            <button class="btnMapTwo"></button>
            <button class="btnMapThree"></button>
            <button class="btnMapFour"></button>

        </div>
    </div>
</div>