<div class="containerGeneral">
    <div class="containerMap">
        <div class="row ">
            <div class="col-md-6 col-sm-12">
                <p class="textTitle">NUESTRO COBERTURA</p>
                <p class="subline"></p>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <p class="textSubtitle text-justify parrafo">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Minus
                    atque
                    deserunt quos
                    consectetur accusamus
                    nihil, tempora voluptatum, dolore rem obcaecati recusandae dolorum nobis illo deleniti nostrum,
                    culpa
                    architecto placeat alias!</p>
            </div>
        </div>
        <div class="text-center my-5 containerMapPoints">
            <img src="/assets/images/map.png">

            <!-- 1 POPUP -->
            <div>
                <input type="checkbox" id="click">
                <label for="click" class="btnMap"></label>

                <div class="content">
                    <div class="header">

                        <div class="informacion-larga">
                            <img class="history" src="../../../assets/images/history.png">
                            <h5>Agrencia 123</h5>
                            <div class="informacion">
                                <p class="parrafo-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse
                                    orem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse..</p>
                            </div>
                        </div>

                        <label for="click" class="fas fa-times"></label>

                        <div class="ubicacion">
                            <div class="ubicacion-info">
                                <p class="contact-info1">
                                    Juan Pablo Hernández
                                </p>
                                <p class="contact-info2">
                                    contacto123@agencia.cl
                                </p>
                            </div>
                            <div class="ubicacion-info2">
                                <p class="direccion-info1">
                                    +562 1234 5678
                                </p>
                                <p class="direccion-info2">
                                    Direción: Calle 123, Piso 2,
                                    Comuna, Ciudad, Región.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- FIN DEL PRIMER POPUP -->

            <!-- 2 POPUP -->
            <div>
                <input type="checkbox" id="click2">
                <label for="click2" class="btnMapTwo"></label>

                <div class="content2">
                    <div class="header2">
                        <div class="informacion-larga">
                            <img class="history" src="../../../assets/images/history.png">
                            <h5>Agrencia 123</h5>
                            <div class="informacion">
                                <p class="parrafo-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse
                                    orem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse..</p>
                            </div>
                        </div>

                        <label for="click2" class="fas fa-times"></label>

                        <div class="ubicacion">
                            <div class="ubicacion-info">
                                <p class="contact-info1">
                                    Juan Pablo Hernández
                                </p>
                                <p class="contact-info2">
                                    contacto123@agencia.cl
                                </p>
                            </div>
                            <div class="ubicacion-info2">
                                <p class="direccion-info1">
                                    +562 1234 5678
                                </p>
                                <p class="direccion-info2">
                                    Direción: Calle 123, Piso 2,
                                    Comuna, Ciudad, Región.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DEL SEGUNDO POPUP -->



            <!-- 3 POPUP -->
            <div>
                <input type="checkbox" id="click3">
                <label for="click3" class="btnMapThree"></label>

                <div class="content3">
                    <div class="header3">

                        <div class="informacion-larga">
                            <img class="history" src="../../../assets/images/history.png">
                            <h5>Agrencia 123</h5>
                            <div class="informacion">
                                <p class="parrafo-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse
                                    orem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse..</p>
                            </div>
                        </div>

                        <label for="click3" class="fas fa-times"></label>

                        <div class="ubicacion">
                            <div class="ubicacion-info">
                                <p class="contact-info1">
                                    Juan Pablo Hernández
                                </p>
                                <p class="contact-info2">
                                    contacto123@agencia.cl
                                </p>
                            </div>
                            <div class="ubicacion-info2">
                                <p class="direccion-info1">
                                    +562 1234 5678
                                </p>
                                <p class="direccion-info2">
                                    Direción: Calle 123, Piso 2,
                                    Comuna, Ciudad, Región.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DEL SEGUNDO POPUP -->


            <!-- 4 POPUP -->
            <div>
                <input type="checkbox" id="click4">
                <label for="click4" class="btnMapFour"></label>

                <div class="content4">
                    <div class="header4">

                        <div class="informacion-larga">
                            <img class="history" src="../../../assets/images/history.png">
                            <h5>Agrencia 123</h5>
                            <div class="informacion">
                                <p class="parrafo-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse
                                    orem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Provident, tenetur esse..</p>
                            </div>
                        </div>

                        <label for="click4" class="fas fa-times"></label>

                        <div class="ubicacion">
                            <div class="ubicacion-info">
                                <p class="contact-info1">
                                    Juan Pablo Hernández
                                </p>
                                <p class="contact-info2">
                                    contacto123@agencia.cl
                                </p>
                            </div>
                            <div class="ubicacion-info2">
                                <p class="direccion-info1">
                                    +562 1234 5678
                                </p>
                                <p class="direccion-info2">
                                    Direción: Calle 123, Piso 2,
                                    Comuna, Ciudad, Región.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DEL SEGUNDO POPUP -->

        </div>
    </div>

</div>