<div class="containerCertificates">
    <img>
    <h1 class="containerCertificates_title">NUESTRAS CERTIFICACIONES</h1>
    <div class="containerCertificates_certificates">
        <div class="enterprises_card">
            <!-- <img src="../../../assets/images/certificaciones.svg" width="100%"> -->
            <img src="./assets/images/certificaciones.svg" width="100%">
            <div class="containerButton"><button class="buttonSust">VER SUSTENTABILIDAD</button></div>
        </div>

    </div>
</div>