.containerGeneral {
  background: rgba(18, 39, 95, 0.5);
}
.containerLine {
  max-width: 1240px;
  margin: auto;
  padding: 80px 0px;
}
.textTitle {
  font-size: 36px;
  font-weight: 800;
  color: white;
}
.textSubtitle {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.line {
  width: 190px;
  height: 3px;
  background: white;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 3px;
  height: 100%;
  margin-left: -3px;
  background: white;
  /* z-index: 5; */
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-l .desc {
  margin-left: -210px;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.title_flag {
  font-weight: 700;
  font-size: 20px !important;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  /* display: inline; */
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  color: #54595f;
  /* font-weight: 700; */
  /* text-align: left; */
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -35px;
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  background: #fff;
  /* border-radius: 10px; */
  border: 4px solid #6f8ee7;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  z-index: 10;
  /* transition: all 50ms ease; */
  animation: point 1s infinite;
}

@keyframes point {
  0% {
    transform: scale(2);
  }
  100% {
  }
}

.direction-r .flag:before {
  left: -48px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: #6f8ee7;
  vertical-align: middle;
  font-weight: 700;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc p {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 10px;
}

.desc {
  margin: 1em 0.75em 0 0;
  background: rgb(245, 245, 245);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  font-size: 0.77777em;
  padding: 10px;
  /* font-style: italic; */
  width: 512px;
  color: #56585f;
  line-height: 1.5em;
  text-align: justify;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 1000px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #6f8ee7;
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 15;
    width: 95%;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and (max-width: 500px) {
  .desc {
    display: flex;
    flex-direction: column;
    width: 93%;
  }
  .textTitle {
    font-size: 24px;
    font-weight: 800;
    color: white;
  }
}
