<div class="containerGeneral">
    <div class="containerLine">
        <div class="col-md-6 col-sm-12">
            <p class="textTitle">HISTORIA BUCALEMU</p>
            <div class="line"></div>
            <p class="textSubtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, justo ut interdum mattis, arcu
                leo
                viverra risus, et aliquet dolor leo et neque. Morbi eget placerat velit.
            </p>
        </div>

        <ul class="timeline">

            <!-- Item 1 -->
            <li>
                <div class="direction-r" data-aos="fade-up">
                    <div class=" flag desc">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Item 2 -->
            <li>
                <div class="direction-l" data-aos="fade-up">
                    <div class=" flag desc">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                    <div class=" flag desc" data-aos="fade-up">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="direction-l">
                    <div class=" flag desc" data-aos="fade-up">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="direction-r">
                    <div class=" flag desc" data-aos="fade-up">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="direction-l">
                    <div class=" flag desc" data-aos="fade-up">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="direction-r">
                    <div class=" flag desc" data-aos="fade-up">
                        <div style="display: flex;">
                            <img src="./assets/images/history.png" height="50%">
                            <div>
                                <p class="title_flag">Titulo 1</p>
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Fusce
                                    sagittis, justo ut interdum
                                    mattis, arcu leo viverra risus, et aliquet dolor leo et neque. Morbi eget placerat
                                    velit.
                                    Vestibulum
                                    tincidunt libero et mauris gravida, condimentum imperdiet nisi lacinia. Quisque eget
                                    quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>