<div class="cardService">
    <div class="cardService_image">
        <!-- <img src="../../../assets/images/faena.svg" width="100%"> -->
        <img src="./assets/images/faena.svg" width="100%">
    </div>
    <div class="cardService_card">
        <div>
            <h3>FAENAS</h3>
            <h2>REGULARES</h2>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ultricies est. Fusce
                ut viverra urna, nec
                tristique sapien...</p>
        </div>
        <div class="card_container">
            <button class="container_button">VER MÁS</button>
        </div>
    </div>
</div>