<div class="containerTeam">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="textTitle">NUESTRO EQUIPO</p>
            <p class="subline"></p>
        </div>
        <div class="col-md-6 col-sm-12 d-flex align-items-center">
            <p class="textSubtitle text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus atque
                deserunt quos
                consectetur accusamus
                nihil, tempora voluptatum, dolore rem obcaecati recusandae dolorum nobis illo deleniti nostrum, culpa
                architecto placeat alias!</p>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-card-team></app-card-team>
        </div>




    </div>
</div>